@import "tailwindcss";


.ebook-paper {
  background: linear-gradient(135deg, #fff1f2, #fef2f2);
  box-shadow: 0 6px 40px rgba(255, 182, 193, 0.2);
  border-radius: 16px;
  border: 1px solid #fbcfe8;
  position: relative;
}

.ebook-paper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background: rgba(251, 207, 232, 0.5);
}

